.uk-navbar-container:not(.uk-navbar-transparent) {
	background: #457fca;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.uk-navbar-item.uk-logo {
	font-family: 'Palanquin Dark', sans-serif;	
	font-size: 27px;
	color: rgba(255,255,255,.95) !important;
}

.uk-navbar-fixed {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
}
