.uk-navbar-container:not(.uk-navbar-transparent) {
	box-shadow: 0 2px 5px 0 rgba(30,30,30,.09);
	background: #EB3349;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.uk-navbar-item.uk-logo {
	font-family: 'Palanquin Dark', sans-serif;	
	font-size: 27px;
	color: white !important;
}

.uk-navbar-fixed {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
}
