body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.uk-button-primary {
	background-color: #EB3349;
}

.uk-button-primary:focus, .uk-button-primary:hover {
	background-color: #E91C34;
}

.uk-tab>.uk-active>a {
	border-color: #EB3349;
}
